.messageBox{
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    clear: both;
    max-width: 45%;
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.right{
    float: right;
    background-color: rgb(20, 220, 200);
    color: white;
    text-align: right;
}

.left{
    float: left;
    text-align: left;
    background-color: rgb(196, 255, 184);
    
}

.taptoview{
    color: rgb(240, 240, 240);
    font-size: 14px;
}

.spam{
    cursor: pointer;
    font-weight: 500;
    background-color: rgb(232, 11, 11);
}