/* ChatPage Styles */
body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}



.chatPage {
    background-color: #2c3e50;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ChatContainer Styles */
.chatContainer {
    background-color: #ecf0f1;
    height: 80%;
    width: 100%;
    max-width: 50%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.header {
    background-color: #F44336;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header h2 {
    font-size: 1.8vmax;
    color: #ffffff;
    margin: 0;
}

.header img {
    width: 30PX;
    margin: 0;
    transition: all 0.3s;
    cursor: pointer;
}

.header img:hover {
    transform: scale(1.2);
}

/* ChatBox Styles */
.chatBox {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* InputBox Styles */
.inputBox {
    background-color: #acd2dc;
    height: 10%;
    display: flex;
    padding: 0 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#chatInput {
    flex: 1;
    border: none;
    padding: 15px;
    background-color: #ecf0f1;
    outline: none;
    margin: 10PX;
    font-family: sans-serif;
    border: 2px solid #bdc3c7;
    border-radius: 10px;
}

input, select {
    font-size: 15px;
    font-family: Tahoma;
}

.sendBtn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    width: 10%;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.sendBtn img {
    width: 2vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}

.sendBtn:hover {
    background-color: #c0392b;
}

.sendBtn:hover img {
    transform: translateX(5px);
}
